*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* background-color: #FEF1F8; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
.f-pop {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.f-pt {
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.f-playful {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: normal;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
  margin-left:10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8e5772; 
  border-radius: 6px;
}

 